.header-container{
    margin-bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 200px !important;
    background: linear-gradient(
        90deg,#0d6632,#f4c01a);

    // flex: 1;
    
}